<!--//////////-->
<!--Breadcrumb Start-->
<div class="flex flex-row flex-wrap justify-between items-center w-full mb-4 gap-4">
  <app-breadcrumb [breadcrumItems]="this.breadcrumb"></app-breadcrumb>
</div>
<!--Breadcrumb End-->
<!--//////////-->
<!--Title Page Container Fixed Vertion Start-->
<div class="grid grid-cols-1 sm:grid-cols-1 xl:grid-cols-4 gap-4 mb-4">
  <!--//////////-->
  <!--Title Start-->
  <div class="flex items-center">
    <h3
      class="w-full pt-4 pb-0 xl:pb-4 xl:pt-4 text-xl 2xl:text-2xl text-gray-900 font-semibold dark:!text-white"
    >
      Cards
    </h3>
  </div>
  <!--Title End-->
  <!--//////////-->
  <!--Card Start-->
  <div
    class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm flex flex-col gap-4 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="inline-flex gap-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-none size-7">
        <path
          class="fill-gray-900 dark:fill-white"
          d="M20 4H4C2.897 4 2 4.897 2 6V18C2 19.103 2.897 20 4 20H20C21.103 20 22 19.103 22 18V6C22 4.897 21.103 4 20 4ZM4 18V6H20L20.001 18H4Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M17 8H11C10.447 8 10 8.448 10 9C10 9.552 10.447 10 11 10H17C17.553 10 18 9.552 18 9C18 8.448 17.553 8 17 8Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M17 11H11C10.447 11 10 11.448 10 12C10 12.552 10.447 13 11 13H17C17.553 13 18 12.552 18 12C18 11.448 17.553 11 17 11Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M17 14H11C10.447 14 10 14.448 10 15C10 15.552 10.447 16 11 16H17C17.553 16 18 15.552 18 15C18 14.448 17.553 14 17 14Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M7 10C7.55228 10 8 9.55228 8 9C8 8.44772 7.55228 8 7 8C6.44772 8 6 8.44772 6 9C6 9.55228 6.44772 10 7 10Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M7 13C7.55228 13 8 12.5523 8 12C8 11.4477 7.55228 11 7 11C6.44772 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M7 16C7.55228 16 8 15.5523 8 15C8 14.4477 7.55228 14 7 14C6.44772 14 6 14.4477 6 15C6 15.5523 6.44772 16 7 16Z"
        />
      </svg>

      <h5 class="!text-sm !font-semibold !text-gray-900 dark:!text-white">Card 01</h5>
    </div>
    <p class="!text-xl 2xl:!text-3xl !font-semibold !text-gray-800 !leading-none dark:!text-white">
      00
    </p>
  </div>
  <!--Card End-->
  <!--//////////-->
  <!--Card Start-->
  <div
    class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm flex flex-col gap-4 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="inline-flex gap-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-none size-7">
        <path
          class="fill-gray-900 dark:fill-white"
          d="M20 4H4C2.897 4 2 4.897 2 6V18C2 19.103 2.897 20 4 20H20C21.103 20 22 19.103 22 18V6C22 4.897 21.103 4 20 4ZM4 18V6H20L20.001 18H4Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M17 8H11C10.447 8 10 8.448 10 9C10 9.552 10.447 10 11 10H17C17.553 10 18 9.552 18 9C18 8.448 17.553 8 17 8Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M17 11H11C10.447 11 10 11.448 10 12C10 12.552 10.447 13 11 13H17C17.553 13 18 12.552 18 12C18 11.448 17.553 11 17 11Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M17 14H11C10.447 14 10 14.448 10 15C10 15.552 10.447 16 11 16H17C17.553 16 18 15.552 18 15C18 14.448 17.553 14 17 14Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M7 10C7.55228 10 8 9.55228 8 9C8 8.44772 7.55228 8 7 8C6.44772 8 6 8.44772 6 9C6 9.55228 6.44772 10 7 10Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M7 13C7.55228 13 8 12.5523 8 12C8 11.4477 7.55228 11 7 11C6.44772 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M7 16C7.55228 16 8 15.5523 8 15C8 14.4477 7.55228 14 7 14C6.44772 14 6 14.4477 6 15C6 15.5523 6.44772 16 7 16Z"
        />
      </svg>

      <h5 class="!text-sm !font-semibold !text-gray-900 dark:!text-white">Card 02</h5>
    </div>
    <p class="!text-xl 2xl:!text-3xl !font-semibold !text-gray-800 !leading-none dark:!text-white">
      00
    </p>
  </div>
  <!--Card End-->
  <!--//////////-->
  <!--Card Start-->
  <div
    class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm flex flex-col gap-4 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="inline-flex gap-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-none size-7">
        <path
          class="fill-gray-900 dark:fill-white"
          d="M20 4H4C2.897 4 2 4.897 2 6V18C2 19.103 2.897 20 4 20H20C21.103 20 22 19.103 22 18V6C22 4.897 21.103 4 20 4ZM4 18V6H20L20.001 18H4Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M17 8H11C10.447 8 10 8.448 10 9C10 9.552 10.447 10 11 10H17C17.553 10 18 9.552 18 9C18 8.448 17.553 8 17 8Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M17 11H11C10.447 11 10 11.448 10 12C10 12.552 10.447 13 11 13H17C17.553 13 18 12.552 18 12C18 11.448 17.553 11 17 11Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M17 14H11C10.447 14 10 14.448 10 15C10 15.552 10.447 16 11 16H17C17.553 16 18 15.552 18 15C18 14.448 17.553 14 17 14Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M7 10C7.55228 10 8 9.55228 8 9C8 8.44772 7.55228 8 7 8C6.44772 8 6 8.44772 6 9C6 9.55228 6.44772 10 7 10Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M7 13C7.55228 13 8 12.5523 8 12C8 11.4477 7.55228 11 7 11C6.44772 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13Z"
        />
        <path
          class="fill-gray-900 dark:fill-white"
          d="M7 16C7.55228 16 8 15.5523 8 15C8 14.4477 7.55228 14 7 14C6.44772 14 6 14.4477 6 15C6 15.5523 6.44772 16 7 16Z"
        />
      </svg>

      <h5 class="!text-sm !font-semibold !text-gray-900 dark:!text-white">Card 03</h5>
    </div>
    <p class="!text-xl 2xl:!text-3xl !font-semibold !text-gray-800 !leading-none dark:!text-white">
      00
    </p>
  </div>
  <!--Card End-->
</div>
<!--Title Page Container Fixed Vertion End-->
<!--//////////-->
<!--Tabs Component Start-->
<div class="grid grid-cols-1 xl:grid-cols-2 gap-4 mb-4">
  <!--//////////-->
  <!--Limit days Tab Container Start-->
  <div
    class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm flex flex-col gap-4 dark:bg-gray-800 dark:border-gray-700"
  >
    <!--Title Start-->
    <h4 class="text-lg 2xl:text-xl text-gray-900 font-semibold w-full pb-4 dark:!text-white">
      Config. días
    </h4>
    <!--Title End-->
    <!--Label Container Start-->
    <div class="w-full flex flex-row justify-between gap-4">
      <label class="block w-full max-w-24 text-sm font-medium text-gray-900 dark:text-white"
        >Día elegido</label
      >
      <label class="block w-full max-w-full text-sm font-medium text-gray-900 dark:text-white"
        >Dia límite</label
      >
      <label class="block w-full max-w-[8rem] text-sm font-medium text-gray-900 dark:text-white"
        >Hora límite</label
      >
    </div>
    <!--Label Container End-->
    <!--//////////-->
    <!--Form Container Start-->
    <div class="w-full">
      <!--//////////-->
      <!--Monday Start-->
      <div class="w-full flex flex-row justify-between gap-4 mb-4">
        <!--//////////-->
        <!--Checkbox Start-->
        <div class="flex items-center w-full max-w-24">
          <input
            id="default-checkbox"
            type="checkbox"
            value=""
            class="w-4 h-4 text-primary dark:!text-primary_dark bg-gray-100 border-gray-300 rounded-sm focus:ring-primary focus:ring-2"
          />
          <label
            for="default-checkbox"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-white"
            >Lunes</label
          >
        </div>
        <!--Checkbox End-->
        <!--//////////-->
        <!--Select Start-->
        <div class="w-full max-w-full">
          <label for="optionsMO" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
            >Select</label
          >
          <select
            id="options"
            [(ngModel)]="selectedOptionMO"
            class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 !text-gray-700 !text-sm !font-normal dark:!text-white dark:bg-gray-700 dark:border-gray-600"
          >
            <option
              class="!text-gray-700 dark:!text-white !text-sm !font-normal"
              value=""
              disabled
              hidden
            >
              Seleccionar...
            </option>
            <option
              class="!text-gray-700 dark:!text-white !text-sm !font-normal"
              *ngFor="let optionMO of optionsMO"
              [value]="optionMO.value"
            >
              {{ optionMO.label }}
            </option>
          </select>
        </div>

        <!--Select End-->
        <!--//////////-->
        <!--Time Pickers Start-->
        <div class="w-full max-w-[8rem]">
          <label for="time" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
            >Select time:</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="time"
              id="time"
              class="min-h-[46px] bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:bg-gray-700 dark:text-white dark:border-gray-600"
              min="09:00"
              max="18:00"
              value="00:00"
              required
            />
          </div>
        </div>
        <!--Time Pickers End-->
        <!--//////////-->
      </div>
      <!--Monday End-->
      <!--//////////-->
      <!--tuesday Start-->
      <div class="w-full flex flex-row justify-between gap-4 mb-4">
        <!--//////////-->
        <!--Checkbox Start-->
        <div class="flex items-center w-full max-w-24">
          <input
            id="default-checkbox"
            type="checkbox"
            value=""
            class="w-4 h-4 text-primary dark:!text-primary_dark bg-gray-100 border-gray-300 rounded-sm focus:ring-primary focus:ring-2"
          />
          <label
            for="default-checkbox"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-white"
            >Martes</label
          >
        </div>
        <!--Checkbox End-->
        <!--//////////-->
        <!--Select Start-->
        <div class="w-full max-w-full">
          <label for="optionsTU" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
            >Select</label
          >
          <select
            id="options"
            [(ngModel)]="selectedOptionTU"
            class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 !text-gray-700 !text-sm !font-normal dark:!text-white dark:bg-gray-700 dark:border-gray-600"
          >
            <option
              class="!text-gray-700 dark:!text-white !text-sm !font-normal"
              value=""
              disabled
              hidden
            >
              Seleccionar...
            </option>
            <option
              class="!text-gray-700 dark:!text-white !text-sm !font-normal"
              *ngFor="let optionsTU of optionsTU"
              [value]="optionsTU.value"
            >
              {{ optionsTU.label }}
            </option>
          </select>
        </div>
        <!--Select End-->
        <!--//////////-->
        <!--Time Pickers Start-->
        <div class="w-full max-w-[8rem]">
          <label for="time" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
            >Select time:</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="time"
              id="time"
              class="min-h-[46px] bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:bg-gray-700 dark:text-white dark:border-gray-600"
              min="09:00"
              max="18:00"
              value="00:00"
              required
            />
          </div>
        </div>
        <!--Time Pickers End-->
        <!--//////////-->
      </div>
      <!--tuesday End-->
      <!--//////////-->
      <!--Wednesday Start-->
      <div class="w-full flex flex-row justify-between gap-4 mb-4">
        <!--//////////-->
        <!--Checkbox Start-->
        <div class="flex items-center w-full max-w-24">
          <input
            id="default-checkbox"
            type="checkbox"
            value=""
            class="w-4 h-4 text-primary dark:!text-primary_dark bg-gray-100 border-gray-300 rounded-sm focus:ring-primary focus:ring-2"
          />
          <label
            for="default-checkbox"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-white"
            >Miércoles</label
          >
        </div>
        <!--Checkbox End-->
        <!--//////////-->
        <!--Select Start-->
        <div class="w-full max-w-full">
          <label for="optionsWE" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
            >Select</label
          >
          <select
            id="options"
            [(ngModel)]="selectedOptionWE"
            class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 !text-gray-700 !text-sm !font-normal dark:!text-white dark:bg-gray-700 dark:border-gray-600"
          >
            <option
              class="!text-gray-700 dark:!text-white !text-sm !font-normal"
              value=""
              disabled
              hidden
            >
              Seleccionar...
            </option>
            <option
              class="!text-gray-700 dark:!text-white !text-sm !font-normal"
              *ngFor="let optionWE of optionsWE"
              [value]="optionWE.value"
            >
              {{ optionWE.label }}
            </option>
          </select>
        </div>

        <!--Select End-->
        <!--//////////-->
        <!--Time Pickers Start-->
        <div class="w-full max-w-[8rem]">
          <label for="time" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
            >Select time:</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="time"
              id="time"
              class="min-h-[46px] bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:bg-gray-700 dark:text-white dark:border-gray-600"
              min="09:00"
              max="18:00"
              value="00:00"
              required
            />
          </div>
        </div>
        <!--Time Pickers End-->
        <!--//////////-->
      </div>
      <!--Wednesday End-->
      <!--//////////-->
      <!--Thursday Start-->
      <div class="w-full flex flex-row justify-between gap-4 mb-4">
        <!--//////////-->
        <!--Checkbox Start-->
        <div class="flex items-center w-full max-w-24">
          <input
            id="default-checkbox"
            type="checkbox"
            value=""
            class="w-4 h-4 text-primary dark:!text-primary_dark bg-gray-100 border-gray-300 rounded-sm focus:ring-primary focus:ring-2"
          />
          <label
            for="default-checkbox"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-white"
            >Jueves</label
          >
        </div>
        <!--Checkbox End-->
        <!--//////////-->
        <!--Select Start-->

        <div class="w-full max-w-full">
          <label for="optionsTH" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
            >Select</label
          >
          <select
            id="options"
            [(ngModel)]="selectedOptionTH"
            class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 !text-gray-700 !text-sm !font-normal dark:!text-white dark:bg-gray-700 dark:border-gray-600"
          >
            <option
              class="!text-gray-700 dark:!text-white !text-sm !font-normal"
              value=""
              disabled
              hidden
            >
              Seleccionar...
            </option>
            <option
              class="!text-gray-700 dark:!text-white !text-sm !font-normal"
              *ngFor="let optionTH of optionsTH"
              [value]="optionTH.value"
            >
              {{ optionTH.label }}
            </option>
          </select>
        </div>

        <!--Select End-->
        <!--//////////-->
        <!--Time Pickers Start-->
        <div class="w-full max-w-[8rem]">
          <label for="time" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
            >Select time:</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="time"
              id="time"
              class="min-h-[46px] bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:bg-gray-700 dark:text-white dark:border-gray-600"
              min="09:00"
              max="18:00"
              value="00:00"
              required
            />
          </div>
        </div>
        <!--Time Pickers End-->
        <!--//////////-->
      </div>
      <!--Thursday End-->
      <!--//////////-->
      <!--Friday Start-->
      <div class="w-full flex flex-row justify-between gap-4 mb-4">
        <!--//////////-->
        <!--Checkbox Start-->
        <div class="flex items-center w-full max-w-24">
          <input
            id="default-checkbox"
            type="checkbox"
            value=""
            class="w-4 h-4 text-primary dark:!text-primary_dark bg-gray-100 border-gray-300 rounded-sm focus:ring-primary focus:ring-2"
          />
          <label
            for="default-checkbox"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-white"
            >Viernes</label
          >
        </div>
        <!--Checkbox End-->
        <!--//////////-->
        <!--Select Start-->

        <div class="w-full max-w-full">
          <label for="optionsFR" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
            >Select</label
          >
          <select
            id="options"
            [(ngModel)]="selectedOptionFR"
            class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 !text-gray-700 !text-sm !font-normal dark:!text-white dark:bg-gray-700 dark:border-gray-600"
          >
            <option
              class="!text-gray-700 dark:!text-white !text-sm !font-normal"
              value=""
              disabled
              hidden
            >
              Seleccionar...
            </option>
            <option
              class="!text-gray-700 dark:!text-white !text-sm !font-normal"
              *ngFor="let optionFR of optionsFR"
              [value]="optionFR.value"
            >
              {{ optionFR.label }}
            </option>
          </select>
        </div>

        <!--Select End-->
        <!--//////////-->
        <!--Time Pickers Start-->
        <div class="w-full max-w-[8rem]">
          <label for="time" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
            >Select time:</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="time"
              id="time"
              class="min-h-[46px] bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:bg-gray-700 dark:text-white dark:border-gray-600"
              min="09:00"
              max="18:00"
              value="00:00"
              required
            />
          </div>
        </div>
        <!--Time Pickers End-->
        <!--//////////-->
      </div>
      <!--Friday End-->
      <!--//////////-->
      <!--Saturday Start-->
      <div class="w-full flex flex-row justify-between gap-4 mb-4">
        <!--//////////-->
        <!--Checkbox Start-->
        <div class="flex items-center w-full max-w-24">
          <input
            id="default-checkbox"
            type="checkbox"
            value=""
            class="w-4 h-4 text-primary dark:!text-primary_dark bg-gray-100 border-gray-300 rounded-sm focus:ring-primary focus:ring-2"
          />
          <label
            for="default-checkbox"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-white"
            >Sábado</label
          >
        </div>
        <!--Checkbox End-->
        <!--//////////-->
        <!--Select Start-->

        <div class="w-full max-w-full">
          <label for="optionSA" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
            >Select</label
          >
          <select
            id="options"
            [(ngModel)]="selectedOptionSA"
            class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 !text-gray-700 !text-sm !font-normal dark:!text-white dark:bg-gray-700 dark:border-gray-600"
          >
            <option
              class="!text-gray-700 dark:!text-white !text-sm !font-normal"
              value=""
              disabled
              hidden
            >
              Seleccionar...
            </option>
            <option
              class="!text-gray-700 dark:!text-white !text-sm !font-normal"
              *ngFor="let optionSA of optionsSA"
              [value]="optionSA.value"
            >
              {{ optionSA.label }}
            </option>
          </select>
        </div>

        <!--Select End-->
        <!--//////////-->
        <!--Time Pickers Start-->
        <div class="w-full max-w-[8rem]">
          <label for="time" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
            >Select time:</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="time"
              id="time"
              class="min-h-[46px] bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:bg-gray-700 dark:text-white dark:border-gray-600"
              min="09:00"
              max="18:00"
              value="00:00"
              required
            />
          </div>
        </div>
        <!--Time Pickers End-->
        <!--//////////-->
      </div>
      <!--Saturday End-->
      <!--//////////-->
      <!--Sunday Start-->
      <div class="w-full flex flex-row justify-between gap-4 mb-0">
        <!--//////////-->
        <!--Checkbox Start-->
        <div class="flex items-center w-full max-w-24">
          <input
            id="default-checkbox"
            type="checkbox"
            value=""
            class="w-4 h-4 text-primary dark:!text-primary_dark bg-gray-100 border-gray-300 rounded-sm focus:ring-primary focus:ring-2"
          />
          <label
            for="default-checkbox"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-white"
            >Domingo</label
          >
        </div>
        <!--Checkbox End-->
        <!--//////////-->
        <!--Select Start-->

        <div class="w-full max-w-full">
          <label for="optionsSU" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
            >Select</label
          >
          <select
            id="options"
            [(ngModel)]="selectedOptionSU"
            class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 !text-gray-700 !text-sm !font-normal dark:!text-white dark:bg-gray-700 dark:border-gray-600"
          >
            <option
              class="!text-gray-700 dark:!text-white !text-sm !font-normal"
              value=""
              disabled
              hidden
            >
              Seleccionar...
            </option>
            <option
              class="!text-gray-700 dark:!text-white !text-sm !font-normal"
              *ngFor="let optionSU of optionsSU"
              [value]="optionSU.value"
            >
              {{ optionSU.label }}
            </option>
          </select>
        </div>

        <!--Select End-->
        <!--//////////-->
        <!--Time Pickers Start-->
        <div class="w-full max-w-[8rem]">
          <label for="time" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
            >Select time:</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="time"
              id="time"
              class="min-h-[46px] bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:bg-gray-700 dark:text-white dark:border-gray-600"
              min="09:00"
              max="18:00"
              value="00:00"
              required
            />
          </div>
        </div>
        <!--Time Pickers End-->
        <!--//////////-->
      </div>
      <!--Sunday End-->
      <!--//////////-->
    </div>
    <!--Form Container End-->
  </div>
  <!--Limit days Container End-->
  <!--//////////-->
  <!--Alert Tab Container Start-->
  <div
    class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm flex flex-col gap-4 dark:bg-gray-800 dark:border-gray-700"
  >
    <!--Title Start-->
    <h4 class="text-lg 2xl:text-xl text-gray-900 font-semibold w-full pb-4 dark:text-white">
      Config. alertas
    </h4>
    <!--Title End-->
    <!--Label Container Start-->
    <div class="w-full flex flex-row justify-between gap-4">
      <label class="block w-full max-w-[8rem] text-sm font-medium text-gray-900 dark:text-white"
        >Notificaciones</label
      >
      <label class="block w-full max-w-[8rem] text-sm font-medium text-gray-900 dark:text-white"
        >Cantidad</label
      >
      <label class="block w-full max-w-full text-sm font-medium text-gray-900 dark:text-white"
        >Tiempo</label
      >
    </div>
    <!--Label Container End-->
    <!--//////////-->
    <!--Form Container Start-->
    <div class="w-full">
      <!--//////////-->
      <!--Row 01 Start-->
      <div class="flex flex-col gap-4 mb-8 lg:mb-12 xl:mb-20">
        <!--Config Start-->
        <div class="w-full flex flex-row justify-between gap-4">
          <!--//////////-->
          <!--Checkbox Start-->
          <div class="flex items-center w-full max-w-[8rem]">
            <label class="text-sm font-medium text-gray-900 dark:text-white">Primera...</label>
          </div>
          <!--Checkbox End-->
          <!--//////////-->
          <!--Input Tyoe Text Start-->
          <div class="w-full max-w-[8rem]">
            <label
              for="default-input"
              class="block mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
              >Input Number</label
            >
            <input
              placeholder="0"
              type="number"
              id="default-input"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:bg-gray-700 dark:text-white dark:border-gray-600"
            />
          </div>
          <!--Input Type Text End-->
          <!--//////////-->
          <!--Select Start-->

          <div class="w-full max-w-full">
            <label for="options1" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
              >Select</label
            >
            <select
              id="options1"
              [(ngModel)]="selectedOption1"
              class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 !text-gray-700 !text-sm !font-normal dark:!text-white dark:bg-gray-700 dark:border-gray-600"
            >
              <option
                class="!text-gray-700 dark:!text-white !text-sm !font-normal"
                value=""
                disabled
                hidden
              >
                Seleccionar...
              </option>
              <option
                class="!text-gray-700 dark:!text-white !text-sm !font-normal"
                *ngFor="let option1 of options1"
                [value]="option1.value"
              >
                {{ option1.label }}
              </option>
            </select>
          </div>

          <!--Select End-->
          <!--//////////-->
        </div>
        <!--Config End-->
        <span class="text-gray-500 text-sm font-normal w-full">(Leyenda descriptiva...).</span>
      </div>
      <!--Row 01 End-->
      <!--//////////-->
      <!--Row 02 Start-->
      <div class="flex flex-col gap-4 mb-8 lg:mb-12 xl:mb-20">
        <!--Config Start-->
        <div class="w-full flex flex-row justify-between gap-4">
          <!--//////////-->
          <!--Checkbox Start-->
          <div class="flex items-center w-full max-w-[8rem]">
            <label class="text-sm font-medium text-gray-900 dark:text-white">Segunda...</label>
          </div>
          <!--Checkbox End-->
          <!--//////////-->
          <!--Input Tyoe Text Start-->
          <div class="w-full max-w-[8rem]">
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
              >Input Number</label
            >
            <input
              placeholder="0"
              type="number"
              id="default-input"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:bg-gray-700 dark:text-white dark:border-gray-600"
            />
          </div>
          <!--Input Type Text End-->
          <!--//////////-->
          <!--Select Start-->

          <div class="w-full max-w-full">
            <label for="options2" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
              >Select</label
            >
            <select
              id="options2"
              [(ngModel)]="selectedOption2"
              class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 !text-gray-700 !text-sm !font-normal dark:!text-white dark:bg-gray-700 dark:border-gray-600"
            >
              <option
                class="!text-gray-700 dark:!text-white !text-sm !font-normal"
                value=""
                disabled
                hidden
              >
                Seleccionar...
              </option>
              <option
                class="!text-gray-700 dark:!text-white !text-sm !font-normal"
                *ngFor="let option2 of options2"
                [value]="option2.value"
              >
                {{ option2.label }}
              </option>
            </select>
          </div>

          <!--Select End-->
          <!--//////////-->
        </div>
        <!--Config End-->
        <span class="text-gray-500 text-sm font-normal w-full">(Leyenda descriptiva...).</span>
      </div>
      <!--Row 02 End-->
      <!--//////////-->
      <!--Row 03 Start-->
      <div class="flex flex-col gap-4 mb-0">
        <!--Config Start-->
        <div class="w-full flex flex-row justify-between gap-4">
          <!--//////////-->
          <!--Checkbox Start-->
          <div class="flex items-center w-full max-w-[8rem]">
            <label class="text-sm font-medium text-gray-900 dark:text-white">Tercera...</label>
          </div>
          <!--Checkbox End-->
          <!--//////////-->
          <!--Input Tyoe Text Start-->
          <div class="w-full max-w-[8rem]">
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
              >Input Number</label
            >
            <input
              placeholder="0"
              type="number"
              id="default-input"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:bg-gray-700 dark:text-white dark:border-gray-600"
            />
          </div>
          <!--Input Type Text End-->
          <!--//////////-->
          <!--Select Start-->

          <div class="w-full max-w-full">
            <label for="options3" class="block mb-2 text-sm font-medium text-gray-900 sr-only"
              >Select</label
            >
            <select
              id="options3"
              [(ngModel)]="selectedOption3"
              class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 !text-gray-700 !text-sm !font-normal dark:!text-white dark:bg-gray-700 dark:border-gray-600"
            >
              <option
                class="!text-gray-700 dark:!text-white !text-sm !font-normal"
                value=""
                disabled
                hidden
              >
                Seleccionar...
              </option>
              <option
                class="!text-gray-700 dark:!text-white !text-sm !font-normal"
                *ngFor="let option3 of options3"
                [value]="option3.value"
              >
                {{ option3.label }}
              </option>
            </select>
          </div>

          <!--Select End-->
          <!--//////////-->
        </div>
        <!--Config End-->
        <span class="text-gray-500 text-sm font-normal w-full">(Leyenda descriptiva...).</span>
      </div>
      <!--Row 03 End-->
      <!--//////////-->
    </div>
    <!--Form Container End-->
  </div>
  <!--Alert Tab Container End-->
  <!--//////////-->
</div>
<!--Tabs Component End-->
<!--//////////-->
