<!--Breadcrumb Start-->
<div class="flex flex-row flex-wrap justify-between items-center w-full mb-4 gap-4">
  <app-breadcrumb [breadcrumItems]="this.breadcrumb"></app-breadcrumb>
</div>
<!--Breadcrumb End-->
<!--//////////-->
<!--Title Page Container Start-->
<h3 class="text-xl 2xl:text-2xl text-gray-900 font-semibold w-full py-4 dark:text-white">
  Neil Sims
</h3>
<!--Title Page Container End-->
<!--//////////-->
<!--Card General Information Start-->
<div
  class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm flex flex-col gap-4 mb-4 dark:bg-gray-800 dark:border-gray-700"
>
  <h4 class="text-lg 2xl:text-xl text-gray-900 font-semibold w-full dark:text-white">
    Datos Generales
  </h4>
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
    <!--//////////-->
    <!--Input Tyoe Text Start-->
    <div>
      <label
        for="default-input"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Nombre</label
      >
      <input
        placeholder="Ingresar..."
        type="text"
        id="default-input"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:!text-white dark:bg-gray-700 dark:border-gray-600"
      />
      <span class="invalid-feedback text-gray-600 text-sm dark:text-gray-400"
        >El campo es requerido.</span
      >
    </div>
    <!--Input Type Text End-->
    <!--//////////-->
    <!--Input Tyoe Text Start-->
    <div>
      <label
        for="default-input"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Apellido</label
      >
      <input
        placeholder="Ingresar..."
        type="text"
        id="default-input"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:!text-white dark:bg-gray-700 dark:border-gray-600"
      />
      <span class="invalid-feedback text-gray-600 text-sm dark:text-gray-400"
        >El campo es requerido.</span
      >
    </div>
    <!--Input Type Text End-->
    <!--//////////-->
    <!--Input Tyoe Text Start-->
    <div>
      <label
        for="default-input"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Correo electrónico</label
      >
      <input
        placeholder="ejemplo@originsw.com"
        type="email"
        id="default-input"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:!text-white dark:bg-gray-700 dark:border-gray-600"
      />
      <span class="invalid-feedback text-gray-600 text-sm dark:text-gray-400"
        >El campo es requerido.</span
      >
    </div>
    <!--Input Type Text End-->
    <!--//////////-->
    <!--Input Tyoe Text Start-->
    <div>
      <label
        for="default-input"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Número de teléfono</label
      >
      <input
        placeholder="Ej. 011 0000 0000"
        type="tel"
        id="default-input"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:!text-white dark:bg-gray-700 dark:border-gray-600"
      />
      <span class="invalid-feedback text-gray-600 text-sm dark:text-gray-400"
        >El campo es requerido.</span
      >
    </div>
    <!--Input Type Text End-->
    <!--//////////-->
  </div>
  <h4 class="text-lg 2xl:text-xl text-gray-900 font-semibold w-full dark:text-white">
    Configuración de alertas
  </h4>
  <div class="w-full flex flex-row flex-wrap gap-4 my-4">
    <!--Toggle Start-->
    <label class="inline-flex items-center cursor-pointer">
      <input type="checkbox" value="" class="sr-only peer" checked />
      <div
        class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:bg-primary peer-focus:bg-opacity-30 dark:peer-focus:bg-primary_dark dark:peer-focus:bg-opacity-80 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-primary_dark"
      ></div>
      <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Alerta config- 01</span
      >
    </label>
    <!--Toggle End-->
    <!--//////////-->
    <!--Toggle Start-->
    <label class="inline-flex items-center cursor-pointer">
      <input type="checkbox" value="" class="sr-only peer" />
      <div
        class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:bg-primary peer-focus:bg-opacity-30 dark:peer-focus:bg-primary_dark dark:peer-focus:bg-opacity-80 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-primary_dark"
      ></div>
      <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Alerta config- 02</span
      >
    </label>
    <!--Toggle End-->
  </div>
  <!--Primary Button Start-->
  <button
    data-modal-target="create-modal"
    data-modal-toggle="create-modal"
    type="button"
    class="w-fit flex flex-row gap-2 items-center text-white bg-primary dark:bg-primary_dark dark:hover:bg-opacity-90 hover:bg-opacity-90 focus:ring-4 focus:ring-primary dark:focus:ring-primary_dark dark:focus:ring-opacity-30 focus:ring-opacity-30 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none"
  >
    Guardar cambios
  </button>
  <!--Primary Button End-->
</div>
<!--Card General Information End-->
<!--//////////-->
<!--Card Password Start-->
<div
  class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm flex flex-col gap-4 mb-4 dark:bg-gray-800 dark:border-gray-700"
>
  <h4 class="text-lg 2xl:text-xl text-gray-900 font-semibold w-full dark:text-white">Contraseña</h4>
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
    <!--//////////-->
    <!--Input Type Password Start-->
    <div>
      <label for="password" class="block mb-2 text-sm font-medium text-gray-700 dark:text-white"
        >Contraseña actual</label
      >
      <div class="relative">
        <input
          formControlName="password"
          [type]="typeInputPassword"
          id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:!text-white dark:bg-gray-700 dark:border-gray-600"
          placeholder="Ingresar contraseña"
          required
        />
        <button
          type="button"
          (click)="showPassword()"
          class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer rounded-e-md focus:outline-none text-xs"
        >
          @if (typeInputPassword === 'password') {
            <i-feather
              name="eye-off"
              class="text-gray-700 hover:text-primary dark:text-white"
              style="width: 20px; height: 20px"
            ></i-feather>
          } @else {
            <i-feather
              name="eye"
              class="text-gray-700 hover:text-primary dark:text-white"
              style="width: 20px; height: 20px"
            ></i-feather>
          }
        </button>
      </div>
      <span class="invalid-feedback text-gray-600 text-sm dark:text-gray-400"
        >El campo es requerido.</span
      >
    </div>
    <!--Input Type Password End-->
    <!--//////////-->
    <!--Input Type Password Start-->
    <div>
      <label for="password" class="block mb-2 text-sm font-medium text-gray-700 dark:text-white"
        >Nueva contraseña</label
      >
      <div class="relative">
        <input
          formControlName="password"
          [type]="typeInputPassword"
          id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:!text-white dark:bg-gray-700 dark:border-gray-600"
          placeholder="Ingresar contraseña"
          required
        />
        <button
          type="button"
          (click)="showPassword()"
          class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer rounded-e-md focus:outline-none text-xs"
        >
          @if (typeInputPassword === 'password') {
            <i-feather
              name="eye-off"
              class="text-gray-700 hover:text-primary dark:text-white"
              style="width: 20px; height: 20px"
            ></i-feather>
          } @else {
            <i-feather
              name="eye"
              class="text-gray-700 hover:text-primary dark:text-white"
              style="width: 20px; height: 20px"
            ></i-feather>
          }
        </button>
      </div>
      <span class="invalid-feedback text-gray-600 text-sm dark:text-gray-400"
        >El campo es requerido.</span
      >
    </div>
    <!--Input Type Password End-->
    <!--//////////-->
    <!--Input Type Password Start-->
    <div>
      <label for="password" class="block mb-2 text-sm font-medium text-gray-700 dark:text-white"
        >Confirmación de contraseña</label
      >
      <div class="relative">
        <input
          formControlName="password"
          [type]="typeInputPassword"
          id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary dark:focus:ring-primary_dark dark:focus:border-primary_dark block w-full p-2.5 dark:!text-white dark:bg-gray-700 dark:border-gray-600"
          placeholder="Ingresar contraseña"
          required
        />
        <button
          type="button"
          (click)="showPassword()"
          class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer rounded-e-md focus:outline-none text-xs"
        >
          @if (typeInputPassword === 'password') {
            <i-feather
              name="eye-off"
              class="text-gray-700 hover:text-primary dark:text-white"
              style="width: 20px; height: 20px"
            ></i-feather>
          } @else {
            <i-feather
              name="eye"
              class="text-gray-700 hover:text-primary dark:text-white"
              style="width: 20px; height: 20px"
            ></i-feather>
          }
        </button>
      </div>
      <span class="invalid-feedback text-gray-600 text-sm dark:text-gray-400"
        >El campo es requerido.</span
      >
    </div>
    <!--Input Type Password End-->
    <!--//////////-->
    <!--Empty Space Start-->
    <div></div>
    <!--Empty Space End-->
  </div>
  <!--Primary Button Start-->
  <button
    data-modal-target="create-modal"
    data-modal-toggle="create-modal"
    type="button"
    class="w-fit flex flex-row gap-2 items-center text-white bg-primary dark:bg-primary_dark dark:hover:bg-opacity-90 hover:bg-opacity-90 focus:ring-4 focus:ring-primary dark:focus:ring-primary_dark dark:focus:ring-opacity-30 focus:ring-opacity-30 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none"
  >
    Actualizar contraseña
  </button>
  <!--Primary Button End-->
</div>
<!--Card Password End-->
<!--//////////-->
