<!--Breadcrumb Start-->
<div class="flex flex-row flex-wrap justify-between items-center w-full mb-4 gap-4">
  <app-breadcrumb [breadcrumItems]="this.breadcrumb"></app-breadcrumb>
</div>
<!--Breadcrumb End-->
<!--//////////-->
<!--Title Page Container Start-->
<h3 class="text-xl 2xl:text-2xl text-gray-900 font-semibold w-full py-4">Grids</h3>
<!--Title Page Container End-->
<!--//////////-->
<!--Grids Guide Start-->
<!--//////////-->
<!--Full 5 col Start-->
<div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-5 gap-4 mb-4">
  <div
    class="border-2 border-dashed border-gray-300 rounded-lg dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
</div>
<!--Full 5 col End-->
<!--//////////-->
<!--Full 4 col and 2 row Start-->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
  <div
    class="border-2 border-dashed border-gray-300 rounded-lg dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
</div>
<!--Full 4 col and 2 row End-->
<!--//////////-->
<!--Full 3 col and 2 row Start-->
<div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 gap-4 mb-4">
  <div
    class="border-2 border-dashed border-gray-300 rounded-lg dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed border-gray-300 rounded-lg dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
</div>
<!--Full 3 col and 2 row End-->
<!--//////////-->
<!--Full 2 col and 2 row Start-->
<div class="grid grid-cols-2 gap-4 mb-4">
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 min-h-32 md:min-h-48"
  ></div>
</div>
<!--Full 2 col and 2 row End-->
<!--//////////-->
<!--Full Row Start-->
<div
  class="border-2 border-dashed rounded-lg border-gray-300 min-h-32 md:min-h-48 mb-4 dark:border-gray-600"
></div>
<!--Full Row End-->
<!--//////////-->
<!--Grids Guide End-->
<!--//////////-->
